*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'poppins',sans-serif;
}
body{
    background: #022e52;
}
h3{
    margin: 0 3%;
}
h4{
    font-size: 0.8rem;
}
/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    border:1px solid red;*/
    background: #283c5c;
    position: sticky;
    top:0;
}
.left-nav, .right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    border:1px solid red;*/
    margin:5px 3%;
}
.left-nav img{
    height:50px;
    width:50px;
    border-radius: 50%;
    margin-right: 5px;
}
.left-nav div{
    margin: 0 15px;
}


.right-nav ul{
    list-style: none;
}
.right-nav ul li{
    display: inline-block;
    margin: 0 5px;
}
.bell-icon{
    height:20px;
    width:20px;
    border-radius: 50%;
}
.user-icon{
    height:30px;
    width:30px;
    border-radius: 50%;
}
.search-box{
    width:250px;
    display:flex;
    background: #022e52;
    border-radius: 20px;
    align-items: center;
    margin-right: 20px;
}
.search-box input{
    background: transparent;
    border:0;
    outline: none;
    padding: 10px;
    margin: 0 10px;
}



.container{
    display: flex;
    justify-content: space-between;
    margin: 5px 5%;
}

/*main*/
.main{
    flex-basis: 70%;
/*    border:1px solid red;*/
}

/*poster*/
.poster,.latest-release{
/*    border:1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}
.poster-img{
    height:250px;
    width:250px;
    transition: height 0.5s,width 0.5s;
}
.poster a{
    margin: 10px;
}
.poster-img:hover{
    height:280px;
    width: 280px;
}

.song-box{
    width:350px;
/*    border:1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.lr-desc h4{
    margin: 0 10px;
}
.song-box img{
    height:100px;
    width:100px;
}
.lr-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    margin-top: -50px;
}
.btn img{
    height:20px;
    width:20px;
}
.drop-menu{
    position: relative;
  display: inline-block;
}
.dropdown{
  display: none;
  position: absolute;
  background-color: #283c5c;
  min-width: 100px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  padding: 1px 2px;
  z-index: 2;
    margin-left: -70px;
}
.drop-menu:hover .dropdown{
    display: block;
}
.dropdown p{
    border-bottom: 1px solid white;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
.dropdown p {
    font-size: 0.7rem;
}





/*artists*/
.artists{
/*    border:1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    
}
.artists-desc{
/*    border:1px solid red;*/
    margin: 10px;
}
.artists-desc img{
    height:120px;
    width:120px;
    border-radius: 50%;
    margin: 10px;
}
.artists-desc h4{
    text-align: center;
}

/*stations*/
.station{
/*    border:1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    background-color: #163957;
}
.station img{
    margin: 10px;
}
.station-pic{
    height:120px;
    width:120px;
/*    border:1px solid red;*/
    margin: 0 20px;
} 
.stations-pic{
    height:100px;
    width:100px;
    border-radius: 50%;
/*    border:1px solid red;*/
} 

/*category*/

.category{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
/*    border:1px solid red;*/
}
.category-pic{
    height:150px;
    width: 250px;
/*    border:1px solid red;*/
    margin: 0 5px;
    background-size: cover;
}
.category-div a img{
    display:block;
    margin:auto;
}
.category-div{
    height:120px;
    width:250px;
    overflow: hidden;
    margin: 10px;
}
.category-pic {
    transition: height 0.5s,width 0.5s;
}
.category-pic:hover{
    height:125px;
    width: 260px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}


/*english*/
.english-song{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
/*    border:1px solid red;*/
}
.english-song-box img{
    height:120px;
    width:120px;
    border-radius: 5px;
    margin: 10px;
}
.english-song-box h4{
    margin: 0 10px;
}



/*hindi*/
.hindi-song{
/*    border:1px solid red;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}
.hindi-song-box img{
    height:120px;
    width:120px;
    border-radius: 5px;
    margin: 10px;
}
.hindi-song-box h4{
    margin: 0 10px;
}


/*aside*/
.queue-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
    z-index: 1;
    padding: 10px;
    background: #022e52;
}
.queue-header img{
    height:20px;
    width:20px;
}
.aside{
    height: 100%;
    width:100%;
    flex-basis: 25%;
/*    border:1px solid red;*/
    height:500px;
    overflow: hidden;
    position: sticky;
    top:70px;
    overflow-y: scroll;
}
.queue-song{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
/*    border:1px solid red;*/
}
.queue-song-desc{
    display: flex;
    align-items: center;
/*    border:1px solid red;*/
}
.queue-song-desc h4{
    margin: 0 10px;
}
.heart-icon{
    height:20px;
    width:20px;
    border-radius: 5px;
    margin-right: 10px;
}
.queue-song-img{
    height:50px;
    width:50px;
    border-radius: 5px;
}
.aside{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.queue-content{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}


/*music-player*/
#song-box{
    height:0;
    width:0;
    position:fixed;
    bottom:0;
    left:0;
    overflow:hidden;
}
#song-box a{
    text-decoration: none;
}
#song-box:target{
  height:auto;
  width:100%;
  background: #283c5c;
}
.control{
   display: flex;
   justify-content:space-around;
   align-items: center;
   margin-bottom: 20px;
}
.song-box-img{
    display: flex;
    height:100px;
    width:100px;
    border-radius: 5px;
}


.box{
    height:500px;
    background: red;
    position: absolute;
    top:0;
    left:0;
}